
{% extends "userpages/user_header_footer.html" %}
{% block content %}
{% load static %}
<section class="vh-50" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;background-color: #e99f44;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="{{data.profile_pic.url}}" alt="Avatar" class="img-fluid my-5 rounded-circle" style="width: 150px;"/>
                <h5>{{data.admin.first_name}}  {{data.admin.last_name}}</h5>
              
                <p style="color: black;">{{data.admin.username}}</p>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email:</h6>
                      <p class="text-muted">{{data.admin.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone:</h6>
                      <p class="text-muted">{{data.contact_number}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Created On:</h6>
                        <p class="text-muted">{{data.admin.date_joined}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Gender:</h6>
                        <p class="text-muted">{{data.gender}}</p>
                    </div>
                  </div>
                  <h6>Address</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                    
                      <p class="text-muted">{{data.Address}}</p>
                      
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %} 